<div>
  <!--<div class="navbar navbar-inverse" role="navigation">-->
  <div class="header">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="adventures"><i class="fa fa-check-square"></i> Rock Climbing</li>
        <li class="adventures"><i class="fa fa-square-o"></i> Fishing</li>
        <li class="adventures"><i class="fa fa-check-square"></i> Hiking</li>
      </ul>
    </div>
  </div>
  <!--</div>-->
  <div class="jumbotron">
    <ui-gmap-google-map ng-if="master.isMap" center="master.map.center" zoom="master.map.zoom">
      <ui-gmap-marker idKey="master.userMarker.id" coords="master.userMarker.coords" options="master.userMarker.options">
      </ui-gmap-marker>
    </ui-gmap-google-map>
    <div ng-if="!master.isMap">
    <h1>'Allo, 'Allo!</h1>
    <h2>{{ master.tagline }}</h2>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p>
      <a ui-sref="signup" class="btn btn-lg btn-success">Signup <i class="fa fa-chevron-circle-right"></i></a>
    </p>
    <p>
      <a class="btn btn-lg btn-success" ui-sref="master">Splendid! <i class="fa fa-ok"></i></a></p>
    </div>
  </div>
<!--<div class="row users">
  <ul>
    <li ng-repeat="user in master.awesomeUsers track by user._id">{{user.email}}</li>
  </ul>
</div>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>-->
</div>
